<template>
  <div id="nav">
    <router-link to="/">Home</router-link> 
    <router-link to="/add-user">Add User </router-link>
   
    <router-link to="/add-med-to-user">Add Medicine To Patient </router-link>
    <router-link to="/add-med">Add Medicine</router-link>
    <router-link to="/patient-diary">Patient Diary</router-link>
     <router-link to="/Medical-Patient-diary"> Medical Patient's Diary</router-link>
   
    <router-link to="/alerts">Alerts</router-link>
    <router-link to="/medication">Medication</router-link>
   </div>
 <router-view /><br>
</template>

<style lang="scss">
  @import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
  @import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
    @import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

#app {
  font-family:  Arial;
  -webkit-font-smoothing: Arial;
  -moz-osx-font-smoothing: Arial;

 
}

#nav {
  padding: 30px;
  text-align: center;

 
  
}

#nav a {
 font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  padding: 18px;
 border:8px ;
  font-size:20px;
  color: black;
  border-radius: 5px;
   //background: #4b3102;

  
}

#nav a.router-link-exact-active {
  color: #fafafa;
  background: rgb(54, 146, 189);
  font-size: 23px;
 
     border: 2px solid #000000;
}
</style>
