
<template><br>

    <div><h1 style="text-align:center;"><p>Add Medicine</p></h1></div><br>
  
      <div class="center"><br>
      <label for="MedName">  Medicine name:</label><br>
      <input id="medname" name="medname" style="text-align:center" v-model="med.name"><br><br><br>

 


      
      <label for="gender"> Status:     </label><br>
      <select id="gender" name="gender" v-model="med.status">
        <option value=1>active</option>
        <option value=0>Inactive</option>
       
      </select><br><br><br>
      <label for="comments"> Comments:</label><br><br>
    
      <textarea CLASS="lock" id="comments" name="comments" type="text" rows="22" cols="140" v-model="med.comments"/><br><br><br>

   
      
         
      <button @click="submitForm()" style="margin-left:auto;margin-right:auto;display:block;margin-top:0.5%;margin-bottom:0%">Save Data</button>

    </div>

</template>
<script>
import axios from 'axios'
export default{
  data(){
    return{
       med:{
        
         name:'',
         comments:'',
         status:null
         
       },
      

    };
  },
 methods: {
  submitForm(){ 
    
    
    axios.post('http://127.0.0.1:5000/Add-Medication',this.med)  
    .then(response=>console.log(response))
    .catch(error=>console.log(error))
    this.med.name='';
    this.med.comments='';
   

   },
 
 }
}

</script>


<style scoped>
textarea.lock

{
resize:none;

}



label {
  font-weight: bold;
  font-size:18px;
}

h1 {
   font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
   margin: 0.5rem 0;
   padding: 0.5rem 2rem;
   border-radius: 20px;
    width: 1150px;
  
    margin: auto;
}

input,
select {
 width: 50%;
  height: 30px;
  font: inherit;
  margin-top: 0.5rem;

}


.center {
 
   margin: auto;
  width:1150px;
 
  padding: 10px;
  padding: 0.75rem 2rem;
  border: 2px solid #09008d;
  background-color: #f6cf85;
 height:715px;
}



button {
   font: inherit;
  font-size: 20px;
  border: 2px solid #000000;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002250;
  background-color: #002250;
}
</style>