
<template><br>
 
    <div><h1 style="text-align:center;"><p>Add Medicine To Patient</p></h1></div><br>
       <div class="center"><br>
      <label for="Medicine">Medicine name:</label><br>
      <select id="Medicine" name="Medicine" v-model="medToUser.medName"> <br>
        <option v-for="med in meds" :key="med.medID">{{med.name}}</option>
             
      </select><br><br><br>
  

      <label for="conTime">Consumption time:     </label><br>
      <select id="conTime" name="conTime" v-model="medToUser.conTime">
        <option value="morning">morning</option>
        <option value="noon">noon</option>
         <option value="afternoon">afternoon</option>
         <option value="evening">evening</option>
           </select><br><br><br>
 

      <label for="amount">Amount: </label><br>
      <input id="amount" name="amount" type="number" v-model="medToUser.amount"/><br><br><br>
   

      <label for="endingDate">Ending Date: </label><br>
      <input id="endingDate" name="endingDate" type="date" v-model="medToUser.endingDate"/><br><br><br>
  
      <label for="userID">Patient ID:  </label><br>
      <select id="userID" name="userID"  v-model.trim="medToUser.userID">
      <option v-for="patient in patients" :key="patient.perID">{{patient.perID}}</option>
       </select>
    
    <p></p>
      
  <br>
      <label for="comments">Comments: </label><br>
      <p></p>
      
      <textarea CLASS="lock" id="comments" name="comments" type="text" rows="5" cols="140" v-model="medToUser.comments"/><br>
    
      
 
      <button @click="submitForm()" style="margin-left:auto;margin-right:auto;display:block;margin-top:1.5%;margin-bottom:0%">Save Data</button>
    </div>

</template>
<script>
import axios from 'axios'


export default{
  created(){
    this.getID()
    this.getMEDS()
  },
  data(){
    return{
       patients:[],
       medToUser:{
         conTime:'',
         endingDate:'',
         amount:null,
         comments:'',
         userID:null,
         medName:'',
       },
       med:{
         name:'',
         medID:'',
       },
      meds:[],
      
    };
  },
 methods: {
  submitForm(){ 
    
    
     axios.post('http://127.0.0.1:5000/Add-Medication-to-patient',this.medToUser) 
    .then(response=>console.log(response))
    .catch(error=>console.log(error))
    this.medToUser.medName='';
    this.medToUser.conTime='';
    this.medToUser.endingDate='';
    this.medToUser.comments='';
    this.medToUser.amount=null;
    this.medToUser.userID=null;

   },
   getMEDS(){ 
        axios.get('http://127.0.0.1:5000//all-Medication')
            .then((response)=>{
                console.log(response.data)
                this.meds=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })

   },
   getID(){ 
        axios.get('http://127.0.0.1:5000/all-patients')
            .then((response)=>{
                console.log(response.data)
                this.patients=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })

   },
   
 },
 components:{
   //datepicker
 }
   
   
 }


</script>


<style scoped>
textarea.lock
{
resize:none;
}



label {
  font-weight: bold;
  font-size:18px
}

h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
   margin: 0.5rem 0;
   padding: 0.5rem 2rem;
  border-radius: 20px;
    width: 1150px;
  
    margin: auto;
}

input,
select {
    width: 50%;
  height: 30px;
  font: inherit;
  margin-top: 0.5rem;

}



.center {
    margin: auto;
  width:1150px;
  height:715px;
  padding: 10px;
  padding: 0.75rem 2rem;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  
}



button {
 font: inherit;
  font-size: 20px;
  border: 2px solid #000000;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002250;
  background-color: #002250;
}
</style>