
<template>
<br>

    
   <div><h1 style="text-align:center;"><p>Add Patient</p></h1></div><br>
    <div class="center"><br>
      <label for="user-name">First Name:</label><br>
      <input id="user-name" name="user-name" type="text" v-model.trim="patient.Name" @blur="validateInput"/><br>
      <br><br>
  
      <label for="user-lastname">Last Name:</label>
      <br>
      <input id="user-lastname" name="user-lastname" type="text" v-model.trim="patient.LName"/><br>
      <br><br>
    
      <label for="age">Patient Age:</label>
      <br>
      <input id="age" name="age" type="number" v-model="patient.Age"/><br>
      <br><br>
   
      <label for="idPat">Patient ID:</label>
      <br>
      <input id="idPat" name="idPat" type="number" v-model="patient.patID"/><br>
      <br><br>
    
      <label for="gender">Gender: </label><br>
      <select id="gender" name="gender" v-model="patient.gender">
        <option value="male">male</option>
        <option value="female">female</option><br><br><br>
       
      </select>
       <div><br><br><br><br><br><br>
      <button @click="submitForm()" style="margin-left:auto;margin-right:auto;display:block;margin-top:0.5%;margin-bottom:0%">Save Data</button>
    </div>
    </div>
      
    
   
 
</template>
<script>
import axios from 'axios'
export default{
  data(){
    return{
       patient:{
         Name:'',
         LName:'',
         patID:null,
         Age:null,
         gender:'male',
       },
      
      
      patNAMEval:'pending'
    };
  },
 methods: {
  submitForm(){ 
   
    
    axios.post('http://127.0.0.1:5000/add-new-patient',this.patient)  
    .then(response=>console.log(response))
    .catch(error=>console.log(error))
    this.patient.Name='';
    this.patient.LName='';
    this.patient.Age=null;
    this.patient.patID=null;
   },
 
 }
}

</script>


<style scoped>

label {
  font-weight: bold;
  font-size:18px

  
}
.center {
  margin: auto;
  width:  1150px;
  height:700px;
  padding: 10px;
  padding: 0.75rem 2rem;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  
 
}

h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  width:  1150px;
  margin: auto;
  
}

input,
select {
  width: 50%;
  height: 30px;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: auto;
}





button {
  font: inherit;
  font-size: 20px;
  border: 2px solid #000000;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #010b18;
  background-color: #002250;
}

</style>