<template><br>
<div><h1 style="text-align:center;"><p>Alerts</p></h1></div><br>
  <div class="center"><br>
  <ag-grid-vue
   style="width: 805px; height: 500px; margin-left:auto;margin-right:auto;display:block"
    class="ag-theme-alpine"
    :columnDefs="columnDefs"
    :rowData="rowData"
    rowSelection="single"
    @grid-ready="onGridReady"
  >
  
  </ag-grid-vue>
  <p>
  <button @click="deleterow()" style="margin-left:auto;margin-right:auto;display:block;margin-top:1%;margin-bottom:0%">Delete</button>
 <button @click="UpdateStatus()" style="margin-left:auto;margin-right:auto;display:block;margin-top:1%;margin-bottom:0%">Change Status</button>
</p>
  </div>
  

 </template>

<script>
import { AgGridVue } from "ag-grid-vue3";
import axios from 'axios'

export default{
  created(){
    
   
  },
  data(){
    return{
       
       alert:{
         id:null,
         status:null,
         
       },
      users:[],
      columnDefs: null,
      rowData: null,
      gridApi:null,
      columnApi:null,
      test:"",
      test2:"",
      
    };
  },
 methods: {
 
    deleterow(){
     let selectedNodes = this.gridApi.getSelectedNodes();
     let selectedData = selectedNodes.map(node => node.data.id);
     this.test= JSON.parse(JSON.stringify(selectedData))
     this.alert.id=parseInt(this.test)
     axios.post('http://127.0.0.1:5000//delete-alert',this.alert)  
     .then(response=>console.log(response))
     .catch(error=>console.log(error))
      window.location.reload()
     
	       
   
   }, 
    onGridReady(params){
      this.gridApi=params.api;
      this.columnApi=params.columnApi;
   },
      UpdateStatus(){
     let selectedNodes = this.gridApi.getSelectedNodes();
     let selectedData = selectedNodes.map(node => node.data.id);
     this.test= JSON.parse(JSON.stringify(selectedData))
     selectedData = selectedNodes.map(node => node.data.status);
     this.test2=JSON.parse(JSON.stringify(selectedData))
      this.alert.id=parseInt(this.test)
      this.alert.status=parseInt(this.test2)
     if(this.alert.status!=0){
       alert("There is no valid ID that choosen")
     }
     else{
      axios.post('http://127.0.0.1:5000///update-alert',this.alert)  
     .then(response=>console.log(response))
     .catch(error=>console.log(error))
      window.location.reload()
     
     }
     
	  
      
   
   },
   
   
 },
   components: {
    AgGridVue,
  },
  
    beforeMount() {
      axios.get('http://127.0.0.1:5000///all-alerts')
            .then((response)=>{
                console.log(response.data)
                this.users=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })
      
    fetch('http://127.0.0.1:5000///all-alerts') 
    .then(res=>res.json())
    .then(rowData=>this.rowData=rowData)
    this.columnDefs = [
      {haderName:"user_id", field: "user_id", sortable: true, filter:true },
      {haderName:"alert_type", field: "alert_type", sortable: true, filter: true },
      {haderName:"date", field: "date", sortable: true, filter:true },
      {haderName:"status", field: "status", sortable: true, filter: true }
     
,
    ];

    
  },
};
</script>



<style scoped>

label {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select {
  width: 170%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: auto;
}





button {
  font: inherit;
  font-size: 20px;
  border: 2px solid #000000;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;;
}

button:hover,
button:active {
  border-color: #002250;
  background-color: #002250;
}

#table-wrapper table {
  width:100%;
color:rgb(0, 0, 0);

}


#table-wrapper table * {
  color:rgb(0, 0, 0);
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-10px;
  z-index:5;
  height:50px;
  width:40%;
  border:1px solid red;


}
h1 {
   font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
   margin: 0.5rem 0;
   padding: 0.5rem 2rem;
   border-radius: 20px;
    width: 1150px;
  
    margin: auto;
}
.center {
   margin: auto;
  width:1150px;
  height: 150%;
  padding: 10px;
  padding: 0.75rem 2rem;
  border: 2px solid #09008d;
  background-color: #f6cf85;
 
}
</style>
