<template>
  <div>
   <br>
<div><h1 style="text-align:center;"><p>Welcome to "SMART DISPENCER SOLUTIONS"</p></h1></div><br>

  </div>

</template>
<style>

h1 {
   font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
  
   padding: 0.5rem 2rem;
   border-radius: 20px;
    width: 1160px;

    margin: auto;
}
</style>

<script>


/*import TheForm from '@/components/TheForm.vue'*/


export default {
  name: 'Home',
  components: {
    
   
  }
}
</script>
