
<template><br>
<h1 style="text-align:center;"><p>Medical Patient's Diary</p></h1><br>
<div class="center"><br>
  <ag-grid-vue
    style="width: 1210px; height: 500px;"
    class="ag-theme-alpine"
    :columnDefs="columnDefs"
    :rowData="rowData"
    rowSelection="single"
    @grid-ready="onGridReady"
  >
  </ag-grid-vue>
  <button @click="deleterow()" style="margin-left:auto;margin-right:auto;display:block;margin-top:1%;margin-bottom:0%">Delete</button>
    <input id="UpdateAmount"  v-model="user.amount" name="UpdateAmount" type="number" style="margin-left:auto;margin-right:auto;display:block;margin-top:1%;margin-bottom:0%"/><br>
  <button @click="updaterow()" style="margin-left:auto;margin-right:auto;display:block;">Update Amount</button>
  </div>

  
  
   
    
  

</template>

<script>
import { AgGridVue } from "ag-grid-vue3";
import axios from 'axios'

export default{
  created(){
    
    this.getPAT()
  },
  data(){
    return{
       
       user:{
         id:null,
         amount:null,
         
       },
      users:[],
      columnDefs: null,
      rowData: null,
      gridApi:null,
      columnApi:null,
      test:"",
      
      
      
    };
  },
 methods: {
 
   getPAT(){ 
          
        axios.get('http://127.0.0.1:5000///get-all-meds-for-patients')
            .then((response)=>{
                console.log(response.data)
                this.users=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })
            
      


   },
    deleterow(){
      
     let selectedNodes = this.gridApi.getSelectedNodes();
     let selectedData = selectedNodes.map(node => node.data.id);

     this.test= JSON.parse(JSON.stringify(selectedData))  
     this.user.id=parseInt(this.test)

     
     
     axios.post('http://127.0.0.1:5000/delete-med-to-user',this.user)  
     .then(response=>console.log(response))
      .catch(error=>console.log(error))
      window.location.reload()
     
	  
      
   
   }, 
    onGridReady(params){
      this.gridApi=params.api;
      this.columnApi=params.columnApi;
   },
   updaterow(){
      
     let selectedNodes = this.gridApi.getSelectedNodes();
     let selectedData = selectedNodes.map(node => node.data.id);

     this.test= JSON.parse(JSON.stringify(selectedData))  
     this.user.id=parseInt(this.test)
     if(this.user.amount==null){
       alert("Please enter valid amoumt")
       
     }
     else{
        
     selectedData = selectedNodes.map(node => node.data.amount);
        
      axios.post('http://127.0.0.1:5000/update-med-to-user',this.user)  
      .then(response=>console.log(response))
      .catch(error=>console.log(error))
      window.location.reload()
     

     }
    
	  
      
   
   },
   
   
 },
   components: {
    AgGridVue,
  },
  
    beforeMount() {
      axios.get('http://127.0.0.1:5000///get-all-meds-for-patients')
            .then((response)=>{
                console.log(response.data)
                this.users=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })
      
    fetch('http://127.0.0.1:5000//get-all-meds-for-patients') 
    .then(res=>res.json())
    .then(rowData=>this.rowData=rowData)
    this.columnDefs = [
      {haderName:"id", field: "id", sortable: true, filter:true },
      {haderName:"user_id", field: "user_id", sortable: true, filter:true },
      {haderName:"med_name", field: "med_name", sortable: true, filter: true },
      {haderName:"amount", field: "amount", sortable: true, filter: true },
      {haderName:"instruction", field: "instruction", sortable: true, filter:true },
      {haderName:"ending_date", field: "ending_date", sortable: true, filter: true },
      {haderName:"comments", field: "comments", sortable: true, filter: true }
,
    ];

    
  },
};
</script>



<style scoped>
button {
 font: inherit;
  font-size: 20px;
  border: 2px solid #000000;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002250;
  background-color: #002250;
}
h1 {
   font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
   margin: 0.5rem 0;
   padding: 0.5rem 2rem;
   border-radius: 20px;
    width: 1160px;
  
    margin: auto;
}

.center {
 
  width: 1210px;
  margin: auto;
  height: 150%;
  padding: 10px;
  padding: 0.75rem 2rem;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  
  padding: 10px;
 
}


</style>
