
<template><br>
   <div><h1 style="text-align:center;"><p>Pharmaceutical Database</p></h1></div><br>
 <div class="center"><br>
  <ag-grid-vue
    style="width: 425px; height: 515px; margin-left:auto;margin-right:auto;display:block"
    class="ag-theme-alpine"
    :columnDefs="columnDefs"
    :rowData="rowData"
    rowSelection="single"
    @grid-ready="onGridReady"
  >

  </ag-grid-vue>
  <p>
  <button @click="deleterow()" style="margin-left:auto;margin-right:auto;display:block;margin-top:1%;margin-bottom:0%">Delete</button>
 <button @click="UpdateStatus()" style="margin-left:auto;margin-right:auto;display:block;margin-top:1%;margin-bottom:0%">Change Status</button>
</p>
  
 </div>

 </template>

<script>
import { AgGridVue } from "ag-grid-vue3"
import axios from 'axios'

export default{
  created(){
    
    this.getMEDS()
  },
  data(){
    return{
       
       med:{
         id:'',
         name:'',
         comments:'',
         status:''
         
       },
      meds:[],
      columnDefs: null,
      rowData: null,
      gridApi:null,
      columnApi:null,
      test:""
            
    };
  },
 methods: {
 
   getMEDS(){ 
        axios.get('http://127.0.0.1:5000//all-Medication')
            .then((response)=>{
                console.log(response.data)
                this.meds=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })
      


   },
    UpdateStatus(){
     let selectedNodes = this.gridApi.getSelectedNodes();
     let selectedData = selectedNodes.map(node => node.data.id);
     this.test= JSON.parse(JSON.stringify(selectedData))
    
   
      this.med.id=parseInt(this.test)
     axios.post('http://127.0.0.1:5000//update-med-status',this.med)  
     .then(response=>console.log(response))
     .catch(error=>console.log(error))
      window.location.reload()
     
	  
      
   
   }, 
   deleterow(){
     let selectedNodes = this.gridApi.getSelectedNodes();
     let selectedData = selectedNodes.map(node => node.data.id);
     this.test= JSON.parse(JSON.stringify(selectedData))
     this.med.id=parseInt(this.test)
     axios.post('http://127.0.0.1:5000/delete-Medication',this.med)  
     .then(response=>console.log(response))
     .catch(error=>console.log(error))
      window.location.reload()
     
	       
   
   }, 
    onGridReady(params){
      this.gridApi=params.api;
      this.columnApi=params.columnApi;
   },
   
 },
   components: {
    AgGridVue,
  },
  
    beforeMount() {
      axios.get('http://127.0.0.1:5000//all-Medication')
            .then((response)=>{
                console.log(response.data)
                this.meds=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })
      
    fetch('http://127.0.0.1:5000//all-Medication') 
    .then(res=>res.json())
    .then(rowData=>this.rowData=rowData)
    this.columnDefs = [
      {haderName:"Name", field: "name", sortable: true, filter:true },
      {haderName:"sName", field: "status", sortable: true, filter: true }
,
    ];

    
  },
};
</script>



<style scoped>
button {
  font: inherit;
  font-size: 20px;
  border: 2px solid #000000;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002250;
  background-color: #002250;
}
.center {
 
  width: 1210px;
  margin: auto;
  height: 150%;
  padding: 10px;
  padding: 0.75rem 2rem;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  
  padding: 10px;
 
}
h1 {
   font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
   margin: 0.5rem 0;
   padding: 0.5rem 2rem;
   border-radius: 20px;
    width: 1160px;
  
    margin: auto;
}



</style>
