<template><br>
<div><h1 style="text-align:center;"><p>Patient's Diary</p></h1></div><br>
<div class="center"><br>
  <ag-grid-vue
    style="width: 1025px; height: 600px; margin-left:auto;margin-right:auto;display:block"
    class="ag-theme-alpine"
    :columnDefs="columnDefs"
    :rowData="rowData"
    rowSelection="single"
    @grid-ready="onGridReady"
  >
  </ag-grid-vue>

  <button @click="deleterow()" style="margin-left:auto;margin-right:auto;display:block;margin-top:1%;margin-bottom:0%">Delete</button>
 
</div>
</template>

<script>
import { AgGridVue } from "ag-grid-vue3";
import axios from 'axios'

export default{
  created(){
    
    this.getPAT()
  },
  data(){
    return{
       
       user:{
         perID:null,
         firstname:'',
         lastname:'',
         gender:'',
         age:null
       },
      users:[],
      columnDefs: null,
      rowData: null,
      gridApi:null,
      columnApi:null,
      test:"",
      
    };
  },
 methods: {
 
   getPAT(){ 
          
        axios.get('http://127.0.0.1:5000//all-patients')
            .then((response)=>{
                console.log(response.data)
                this.users=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })
            
      


   },
    deleterow(){
      
     let selectedNodes = this.gridApi.getSelectedNodes();
     let selectedData = selectedNodes.map(node => node.data.perID);
     this.test= JSON.parse(JSON.stringify(selectedData))
    
     
     this.user.perID=parseInt(this.test)
   
     axios.post('http://127.0.0.1:5000//delete-patient',this.user)  
     .then(response=>console.log(response))
     .catch(error=>console.log(error))
     window.location.reload()
     
	  
      
   
   }, 
    onGridReady(params){
      this.gridApi=params.api;
      this.columnApi=params.columnApi;
   },
   
   
 },
   components: {
    AgGridVue,
  },
  
    beforeMount() {
      axios.get('http://127.0.0.1:5000//all-patients')
            .then((response)=>{
                console.log(response.data)
                this.users=response.data
            })
            .catch((error)=>{
                console.log(error)
                this.errorMsg='Errot retrieving data'
            })
      
    fetch('http://127.0.0.1:5000//all-patients') 
    .then(res=>res.json())
    .then(rowData=>this.rowData=rowData)
    this.columnDefs = [
      {haderName:"perID", field: "perID", sortable: true, filter:true },
      {haderName:"LName", field: "lastname", sortable: true, filter: true },
      {haderName:"firstname", field: "firstname", sortable: true, filter:true },
      {haderName:"gender", field: "gender", sortable: true, filter: true },
      {haderName:"age", field: "age", sortable: true, filter: true }
,
    ];

    
  },
};
</script>



<style scoped>
button {
 font: inherit;
  font-size: 20px;
  border: 2px solid #000000;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002250;
  background-color: #002250;
}

.center {
   margin: auto;
  width:1150px;
  height: 150%;
  padding: 10px;
  padding: 0.75rem 2rem;
  border: 2px solid #09008d;
  background-color: #f6cf85;
 
}
h1 {
   font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid #09008d;
  background-color: #f6cf85;
  font-size: 35px;
   margin: 0.5rem 0;
   padding: 0.5rem 2rem;
   border-radius: 20px;
    width: 1150px;
  
    margin: auto;
}


</style>
